

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("SmallAnimal") {

    <div class="col-md-9">

                <div class="thumbnail">
                    <img src="http://www.petmailuk.com/resources/small%20animals%20homepage%20banner%20new.jpg" alt="pets">
                    <div class="caption-full">
                    </div>
                       
                </div>

                <div class="well">

                 <h2 class = "text-center">Small Animals</h2>     

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
						<p class = "para">Small animals, the cutest of our fury little friends, even though their not all fury. Come here to find all sorts of accessaries for small animals. 
						We have items for any animal ranging from as small as a hamster to as largre as a rabbit</p>
                            
                           
                           
                            
                        </div>
                    </div>

                     <hr>

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "items" src = "https://s-media-cache-ak0.pinimg.com/236x/90/7a/fe/907afe3d7ea336b5912426cfdba938fa.jpg" alt = "smallAnimaltoy"> 
							<p class = "text-center"> €12.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://www.petmountain.com/photos/product/standard/114420S506162/-/506162.jpg" alt = "smallAnimaltoy">
							<p class = "text-center"> €16.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://www.petshoponline.ie/media/catalog/product/cache/1/small_image/242x/9df78eab33525d08d6e5fb8d27136e95/h/u/hutch.jpg" alt = "smallAnimaltoy">
							<p class = "text-center"> €29.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://www.galaxystores.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/x/_/x_trail-2nohammocks-skypets.jpg" alt = "smallAnimaltoy">
							<p class = "text-center"> €79.99</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "items" src = "http://www.wilko.com/content/ebiz/wilkinsonplus/invt/0080104/0080104_l.jpg" alt = "smallAnimaltoy">  
                            <p class ="text-center">€38.99</p>							
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "https://qph.ec.quoracdn.net/main-qimg-00e365e1a126d8733343dbd0ab66a36d?convert_to_webp=true" alt = "smallAnimaltoy">
							<p class ="text-center">€54.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "https://i5.walmartimages.com/asr/c8ab757e-fcb5-422d-a110-4a6a86cd2c4e_1.656a93ad07b9df5cd100015b64cfa228.jpeg" alt = "smallAnimaltoy">
							<p class ="text-center">€12.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://67.media.tumblr.com/6e0894af0063a31a41c1022e6ef06e17/tumblr_inline_mz0hhxUQ8x1rapi2l.jpg" alt = "smallAnimaltoy">
							<p class = "text-center">€6.99</p>
                        </div>
                    </div>
					<hr>
					
					 <div class="row">
                        <div class="col-md-3">
                            <img class = "items" src = "http://www.crystalclearpet.com/shop/pioneerpet/images/3004-fungshui.jpg" alt = "smallAnimaltoy">  
                            <p class ="text-center">€4.99</p>							
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://thumbs2.ebaystatic.com/d/l225/m/mk6rQmnsCRq64f9n7tndXNg.jpg" alt = "smallAnimaltoy">
							<p class ="text-center">€9.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://nerdapproved.com/wp-content/uploads/2016/01/TBD-4.jpg" alt = "smallAnimaltoy">
							<p class ="text-center">€7.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://www.allyourhobbies.com/images/sp61361.jpg" alt = "smallAnimaltoy">
							<p class = "text-center">€18.99</p>
                        </div>
                    </div>

                </div>

            </div>
}
